<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>KEYCODES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Scroll</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.80</string>
			<key>key</key>
			<string>LeftScroll</string>
			<key>label</key>
			<string>Scroll left</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.79</string>
			<key>key</key>
			<string>RightScroll</string>
			<key>label</key>
			<string>Scroll right</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.81</string>
			<key>key</key>
			<string>DownScroll</string>
			<key>label</key>
			<string>Scroll down</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.82</string>
			<key>key</key>
			<string>UpScroll</string>
			<key>label</key>
			<string>Scroll up</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.82</string>
			<key>key</key>
			<string>GoToTop</string>
			<key>label</key>
			<string>Go to top</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.81</string>
			<key>key</key>
			<string>GoToBottom</string>
			<key>label</key>
			<string>Go to bottom</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tabs</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.5.80</string>
			<key>key</key>
			<string>PrevTab</string>
			<key>label</key>
			<string>Prev tab</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.5.79</string>
			<key>key</key>
			<string>NextTab</string>
			<key>label</key>
			<string>Next tab</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.17</string>
			<key>key</key>
			<string>NewTab</string>
			<key>label</key>
			<string>New tab</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.23</string>
			<key>key</key>
			<string>NewTab2</string>
			<key>label</key>
			<string>New tab</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.26</string>
			<key>key</key>
			<string>CloseTab</string>
			<key>label</key>
			<string>Close tab</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Search</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.9</string>
			<key>key</key>
			<string>Search</string>
			<key>label</key>
			<string>Search</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.10</string>
			<key>key</key>
			<string>NextSearch</string>
			<key>label</key>
			<string>Next search</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.5.10</string>
			<key>key</key>
			<string>PrevSearch</string>
			<key>label</key>
			<string>Previous search</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.42</string>
			<key>key</key>
			<string>GoBack</string>
			<key>label</key>
			<string>Go back</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.80</string>
			<key>key</key>
			<string>GoBack2</string>
			<key>label</key>
			<string>Go back</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.79</string>
			<key>key</key>
			<string>GoForward</string>
			<key>label</key>
			<string>Go forward</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.21</string>
			<key>key</key>
			<string>Reload</string>
			<key>label</key>
			<string>Reload</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.62</string>
			<key>key</key>
			<string>Reload2</string>
			<key>label</key>
			<string>Reload</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.15</string>
			<key>key</key>
			<string>FocusAddressView</string>
			<key>label</key>
			<string>Focus address view</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.63</string>
			<key>key</key>
			<string>FocusAddressView2</string>
			<key>label</key>
			<string>Focus address view</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.0.41</string>
			<key>key</key>
			<string>Escape</string>
			<key>label</key>
			<string>Escape</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Actions</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.3.5</string>
			<key>key</key>
			<string>ShowBookmarks</string>
			<key>label</key>
			<string>Show bookmarks</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.7</string>
			<key>key</key>
			<string>AddBookmark</string>
			<key>label</key>
			<string>Add bookmark</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.5.7</string>
			<key>key</key>
			<string>AddToReadingList</string>
			<key>label</key>
			<string>Add to Reading List</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.5.11</string>
			<key>key</key>
			<string>AddToHomescreen</string>
			<key>label</key>
			<string>Add to Home Screen</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.5.23</string>
			<key>key</key>
			<string>Twitter</string>
			<key>label</key>
			<string>Twitter</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.19</string>
			<key>key</key>
			<string>Print</string>
			<key>label</key>
			<string>Print</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.46</string>
			<key>key</key>
			<string>ZoomIn</string>
			<key>label</key>
			<string>Zoom in</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/beesafari</string>
			<key>default</key>
			<string>7.1.45</string>
			<key>key</key>
			<string>ZoomOut</string>
			<key>label</key>
			<string>Zoom out</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>COPYRIGHT</string>
		</dict>
	</array>
	<key>title</key>
	<string>BeeSafari</string>
</dict>
</plist>
